<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="loginForm1()">
    <div class="mb-3 row">
      <label for="username" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          value=""
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >Password</label
      >
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="password"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Login</button>
      </div>
    </div>
  </form>
  <div class="row">
    @if ( authUser$ | async; as authUser ) {
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">User Name</th>
          </tr>
        </thead>
        <tbody>
          @for( user of authUser; track user; let i = $index ){
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @if( product$ | async; as productList ){
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Des</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">DiscountPercentage</th>
            <th scope="col">Rating</th>
            <th scope="col">Stock</th>
            <th scope="col">Brand</th>
            <th scope="col">Sku</th>
            <th scope="col">Weight</th>
          </tr>
        </thead>
        <tbody>
          @for( product of productList; track product; let i = $index ){
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.discountPercentage }}</td>
            <td>{{ product.rating }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.weight }}</td>
            <td>
              <button type="button" (click)="getIndex(i)">Get Index</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          (change)="selectAll($event)"
        />
        <h6 class="card-title">All</h6>
      </div>
      <div class="card mb-2" *ngFor="let job of jobsList; let i = index">
        <div class="card-body">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="job.checked"
              (change)="onJoblistChange($event)"
            />
            <h6 class="card-title">{{ job.job }}</h6>
          </div>
          <p class="card-text mb-2 ms-4">{{ job.exp }}</p>
          <p class="card-text mb-2 ms-4">{{ job.location }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary">{{ btnTxt }}</button>
    </div>
    <div class="col-md-3">
      <!-- <button type="button" class="btn btn-primary"> -->
      <a routerLink="222" [queryParams]="{ query: 'IsCool' }">
        Go to /search/222?query=IsCool
      </a>
      <!-- </button> -->
      <br />
      <br />
      <div class="row">
        <router-outlet></router-outlet>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div *ngFor="let number of checkList; let i = index">
            <input
              type="checkbox"
              [(ngModel)]="checkListValue[number]"
              (change)="selectedValue()"
            />{{ number }}
          </div>
        </div>
        <div class="col-md-4"></div>
        {{ selectedValueL }}
      </div>
      <!-- Implementing Reusable Button component -->
      <div class="row">
        <div class="col-md-3">
          <app-button
            label="Save"
            color="primary"
            size="medium"
            (click)="onSave()"
          >
          </app-button>
        </div>
        <div class="col-md-3">
          <app-button
            label="Delete"
            color="danger"
            size="medium"
            (click)="onDelete()"
            [disabled]="true"
          >
          </app-button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-text-input
            label="User Name"
            placeholder="Enter Username"
            type="text"
            [value]="username"
            (valueChange)="getUserName($event)"
          >
          </app-text-input>
        </div>
        <div class="col-md-4">
          <app-text-input
            label="Password"
            placeholder="Enter Password"
            type="password"
            [value]="password"
            (valueChange)="password = $event"
          >
          </app-text-input>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          (change)="selectAll2($event)"
        />
        <h6 class="card-title">All</h6>
      </div>
      <form [formGroup]="jobsListForm">
        <div formArrayName="jobs">
          <div
            class="card mb-2"
            *ngFor="let job2 of jobsFormArray.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="card-body">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="checked"
                  (change)="setJoblist($event, job2.get('jobsId')?.value)"
                />
                <h6 class="card-title">{{ job2.get("job")?.value }}</h6>
              </div>
              <p class="card-text mb-2 ms-4">{{ job2.get("exp")?.value }}</p>
              <p class="card-text mb-2 ms-4">
                {{ job2.get("location")?.value }}
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="diffJobsdup2">
    <div class="col-md-3">
      <div class="card mb-2" *ngFor="let job of diffJobsdup2; let i = index">
        <div class="card-body">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="job.checked"
              (change)="onJoblistChange2()"
            />
            <h6 class="card-title">{{ job.job }}</h6>
          </div>
          <p class="card-text mb-2 ms-4">{{ job.exp }}</p>
          <p class="card-text mb-2 ms-4">{{ job.location }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
